@font-face {
  font-family: consoleFont;
  src: url(./fonts/Ubuntu-L.ttf);
}

.App {
  text-align: center;
  height: 100%;
  clear: none;
}

.App-Console {
  background-size: cover;
  width: 30%;
  height: 93vh;
  float: left;
  margin: 2vh;
  box-shadow: -0.5vh 0.5vh 4vh 0.4vh grey;
  z-index : 1;
}

.App-Header {
  background: #ffffff;
  width: 100%;
  height: 3.8%;
  margin: 0.05vh auto;
  clear: none;
}


.imgHeaders {
  height: 80%;
  float: left;
  margin-top: 0.5%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.imgClose {
  opacity: 0.8;
  float: right;
  margin-right: 1vh;
}

.imgGit {
  margin-left: 10%; 
}

.App-Header p {
  color: black;
  font-family: consoleFont;
  font-size: 2.4vh;
  float: left;
  margin: 0.5% auto;
  margin-left: 5%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.App-Body {
  font-size: 1.9vh;
  font-family: consoleFont;
  color: white;
  width: 100%;
  height: 92.2%;
  background: #000;
  overflow: auto;
}

.App-Body li {
  list-style-type: none;
  float: left;  
  width: 90%;
}

.App-Body p {
  opacity: 0.8;
  font-size: 1.5h;
  float: left;
  font-family: consoleFont;
  margin: 0 auto;
  margin-left: 2%;
  margin-top: 1%;
}

.dollars {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.App-Footer {
  width: 100%;
  height: 4%;
  background: #000;
  color: white;
  overflow: auto;
  clear: none;
  font-family: consoleFont;
  overflow: hidden;
}

.App-Footer p {
  opacity: 0.8;
  font-size: 1.9vh;
  float: left;
  font-family: consoleFont;
  margin: 0 auto;
  margin-left: 2%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
  margin-top: 1%;
}

.App-Footer input {
  opacity: 0.8;
  font-family: consoleFont;
  width: 90%;
  border: none;
  float: left;
  height: 90%;
  color: white;
  font-size: 1.9vh;
  background: #000;
  margin: 0 auto;
  margin-left: 2%;
  overflow: hidden;
}

.App-Footer input:focus {
  outline: none;
}

.App-Graph {
  width: 65%;
  padding-top: 3vh;
  float: left;
  font-size: 1.9vh;
}

@media screen and (max-width: 1200px) {
  .App-Console {
    width: 40%;
  }
  .App-Header {
    background: #ffffff;
    height: 3.9%;
  }
  .App-Body {
    height: 96.1%;
    float: left;    
  }
  .App-Graph {
    width: 55%;
  }
 
}

@media screen and (max-width: 800px) {
  .App-Console {
    width: 40%;
    height: 91vh;
  }
  .App-Header {
    background: #ffffff;
    height: 4.2%;
  }
  .App-Body {
    height: 95.8%;
  }
  .App-Graph {
    width: 55%;
  }
 
}


@media screen and (max-width: 500px) {
  .App-Console {
    width: 95%;
    height: 91vh;
  }
  .App-Header {
    background: #ffffff;
    height: 4.2%;
  }
  .App-Body {
    height: 95.8%;
  }
  .App-Graph {
    width: 100%;
  }
  .imgClose {
    margin-left: 10%
  }
}


@media screen and (min-width: 1950px) {
  
}