@font-face {
  font-family: consoleFont;
  src: url(./fonts/Ubuntu-L.ttf);
}

.App {
  text-align: center;
  height: 100%;
  clear: none;
}

.App-Console {
  transition: ease 2s;
  background-size: cover;
  width: 30%;
  height: 95vh;
  float: left;
  margin: 2vh;
  border-style: solid;
  border-width: 0.05em;
  border-color: blue;
  box-shadow: -3px 5px 13px 4px grey;
}

.App-Header {
  background: #ffffff;
  width: 100%;
  height: 3.8%;
  margin: 0.05vh auto;
  clear: none;
}


.App-Header img {
  height: 80%;
  float: left;
  margin-left: 10%;
  margin-top: 0.5%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.App-Header p {
  color: black;
  font-family: consoleFont;
  font-size: 2.4vh;
  float: left;
  margin: 0.5% auto;
  margin-left: 5%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.App-Body {
  font-size: 1.9vh;
  font-family: consoleFont;
  color: white;
  width: 100%;
  height: 92.2%;
  background: #000;
  overflow: auto;
}

.App-Body li {
  list-style-type: none;
  float: left;  
  width: 90%;
}

.App-Body p {
  opacity: 0.8;
  font-size: 1.5h;
  float: left;
  font-family: consoleFont;
  margin: 0 auto;
  margin-left: 2%;
  margin-top: 1%;
}

.dollars {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.App-Footer {
  width: 100%;
  height: 4%;
  background: #000;
  color: white;
  overflow: auto;
  clear: none;
  font-family: consoleFont;
  overflow: hidden;
}

.App-Footer p {
  opacity: 0.8;
  font-size: 1.5h;
  float: left;
  font-family: consoleFont;
  margin: 0 auto;
  margin-left: 2%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
  margin-top: 1%;
}

.App-Footer input {
  opacity: 0.8;
  font-family: consoleFont;
  width: 90%;
  border: none;
  float: left;
  height: 90%;
  color: white;
  font-size: 1.5h;
  background: #000;
  margin: 0 auto;
  margin-left: 2%;
  overflow: hidden;
}

.App-Footer input:focus {
  outline: none;
}


.App-Graph {
  width: 65%;
  padding-top: 3vh;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .App-Console {
    width: 40%;
    border-width: 0.04em;
  }
  .App-Header {
    background: #ffffff;
    height: 3.9%;
  }
  .App-Body {
    height: 96.1%;
    float: left;    
  }
}

@media screen and (max-width: 800px) {
  .App-Console {
    width: 50%;
    border-width: 0.02em;
  }
  .App-Header {
    background: #ffffff;
    height: 4.2%;
  }
  .App-Body {
    height: 95.8%;
  }
}