.Flow {  
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.bulleCommit {
    line-height: 10vh;
	width: 10vh;
	height: 10vh;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: gray;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    list-style-type: none;
}

li:not(:last-child):after {
    content: '';
    height: 1px;
    background: black;
    width: 50px;
    position: absolute;
    right: -50px;
    top: 50%;
  }
  li:not(:last-child):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    border-width: 7px 0 7px 20px;
    border-color: transparent transparent transparent black;
    right: -50px;
    transform: translateY(-50%);
  }
  